.about-us-info{
    padding-top:10vh;
    text-align: left;
    .image{
        img{
            max-width: 100%;
        }
    }
    @media (min-width: 960px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5vw;
        align-items: center;    
    }    
}