.ArtDisplay{
    text-align: left;
    img{
        height: auto;
        width: 100%;
    }
    img:hover{
        cursor: pointer;
    }
    .story{
        font-size: larger;
    }
    span{
        float: right;
        font-weight: 400;
    }
}