
.Navbar{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);
    padding: 0 10vw;
    font-size: large;
  .links,.brand{
    color: rgb(31, 29, 29);
    text-decoration: none;
    &:hover{
      color: rgba(17, 17, 17, 0.5);
    }
  }
  .links{
    padding-right: 30px;
  }
  .big-link-container{
    display: none;
  }
  .nav-btn-container{
    max-width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    .justify-right{
      justify-self: end;
    }
  }
  .active {
    text-decoration: underline;
  }
  @media (min-width: 600px) {
    .big-link-container{
      display: block;
    }
    .hamburger{
      display: none
    }
  }

}