ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0 15%;
    overflow: hidden;
    background-color: #c0aeaa; 
  }
  li {
    float: right;
  }
  .brand{
      float: left;
  }
 
  li a {
    display: block;
    color: rgb(31, 29, 29);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgba(17, 17, 17, 0.2);
  }
  .active {
    text-decoration: underline;
  }