.social-container {
    background: #d6d6d6;
    padding: 25px 50px;
    a.facebook {
        color: #4968ad;
        padding: 5px;
    }
    a.instagram {
        color: black;
        padding: 5px;
      }
    .phone{
        text-decoration: none;
        color: black
    }
}
